.first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 294px;
  width: 100%;
  color: white;
  background-color: rgb(34, 33, 33);
  h1 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: bolder;
    line-height: 1.2;
  }
  .d2 {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 1.25rem;
  }
}
